<!DOCTYPE html>

<script
  async
  src="https://ga.jspm.io/npm:es-module-shims@1.6.2/dist/es-module-shims.js"
></script>

<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

<head>
  <link rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <div id="app">
    <div id="header">
      <button id="home" @click="reset">Inquisition</button>
      <h6 id="author">by rachel</h6>
    </div>
    <div v-if="index === -1" id="setup-display">
      <!-- Show start page -->
      <div id="info">
        <p id="info-icon"><strong>i</strong></p>
        <p>
          Inquisition is a compilation of bonding questions from online sources
          and friends. It includes innocent ice breakers, deep personal
          inquiries, cornering controversial questions, and more. You can select
          a curated deck or build your own using the form below.
        </p>
      </div>

      <div id="presets">
        <!--presets-->
        <button class="preset" @click="startAskhole">Regular Askhole</button>
        <button class="preset" @click="start36Questions">
          36 Questions to Fall In Love
        </button>
        <button class="preset" @click="startRachelFavs">
          Rachel's Favorites
        </button>
      </div>

      <div id="form">
        <div id="key">
          <div class="key-item">
            <p class="key-color" id="include-color"></p>
            <p>include&nbsp&nbsp&nbsp&nbsp</p>
          </div>
          <div
            class="key-item"
            title="some cards have multiple tags. If a card has only ignored (or excluded) tags, it won't be added to your deck. If it has ignored and included tags, it will be added."
          >
            <p class="key-color" id="ignore-color"></p>
            <p>ignore&nbsp&nbsp&nbsp&nbsp</p>
          </div>
          <div class="key-item">
            <p class="key-color" id="exclude-color"></p>
            <p>exclude</p>
          </div>
        </div>
        <!-- Sources input -->
        <p>
          Which <strong>sources</strong> would you like to include in your deck?
        </p>

        <source-item
          v-for="item in sourcePrefs"
          :source="item"
          :key="item.name"
        ></source-item>

        <br />
        <!--quality input-->
        <p>What range of <strong>quality</strong> would you like to include?</p>
        <span>
          <input type="number" max="5" min="1" v-model="minQuality" />
          -
          <input type="number" max="5" min="1" v-model="maxQuality" />
        </span>
        <!-- intimacy input -->
        <p>
          What range of <strong>intimacy</strong> would you like to include?
        </p>
        <span>
          <input type="number" max="5" min="1" v-model="minIntimacy" />
          -
          <input type="number" max="5" min="1" v-model="maxIntimacy" />
        </span>
        <!-- tags to include input -->
        <p>
          What <strong>categories</strong> of questions would you like to
          include?
        </p>
        <tag-item
          v-for="item in tagPrefs"
          :tag="item"
          :key="item.name"
        ></tag-item>
        <br />
        <br />
        <!--reset & start buttons-->
        <button class="form-button" @click="reset">Clear Form</button>
        <button class="form-button" @click="start">Get Started!</button>
      </div>
    </div>
    <div v-else id="card-display">
      <!--card display-->
      <button class="card" @click="fwd">
        <strong>{{ filteredDeck[index].question }}</strong>
        <div id="feature-display">
          <p>source = {{ filteredDeck[index].source }}&nbsp&nbsp&nbsp&nbsp</p>
          <p>
            intimacy = {{ filteredDeck[index].intimacy }}&nbsp&nbsp&nbsp&nbsp
          </p>
          <p>quality = {{ filteredDeck[index].quality }}&nbsp&nbsp&nbsp&nbsp</p>
          <p>
            tags =
            <span v-for="(item, index) in filteredDeck[index].tags">
              <span v-if="index != 0">&nbsp&</span>
              {{item}}&nbsp</span
            >
          </p>
        </div>
      </button>
      <div id="arrow-buttons">
        <button
          class="arrow-button"
          id="previous-question"
          @click="back"
        ></button>
        <button class="arrow-button" id="next-question" @click="fwd"></button>
      </div>
    </div>
  </div>
</body>

<script type="module">
  import { createApp } from "vue";
  import { loadDeckAndPrefs } from "./code.js";
  import TagItem from "./TagItem.js";
  import SourceItem from "./SourceItem.js";

  createApp({
    components: {
      TagItem,
      SourceItem,
    },
    data() {
      return {
        filteredDeck: [],
        index: -1,
        minQuality: 1,
        maxQuality: 5,
        minIntimacy: 1,
        maxIntimacy: 5,
        tagPrefs: [],
        sourcePrefs: [],
        fullDeck: [],
        shuffle: true,
        mutliPlayer: true,
      };
    },
    async created() {
      const response = await fetch("questions.csv");
      const deckStr = await response.text();
      [this.fullDeck, this.tagPrefs, this.sourcePrefs] =
        loadDeckAndPrefs(deckStr);
    },
    methods: {
      start() {
        //try building deck based on user preferences
        this.configureDeck();
        //check that the deck actually has cards in it
        if (this.filteredDeck.length === 0) {
          //if deck is empty, tell user to try again
          alert(
            "There are no cards that fulfill your specifications. Try again with new filters."
          );
          return;
        } else {
          //if it does, game begins
          this.fwd();
        }
      },
      configureDeck() {
        //make arrays to store included and excluded tags
        let excludedTags = [],
          includedTags = [];
        //for each tag
        for (let i = 0; i < this.tagPrefs.length; i++) {
          //check if its set to be included
          if (this.tagPrefs[i].pref === 1) {
            //add to included array
            includedTags.push(this.tagPrefs[i].name);
            //check if its set to be excluded
          } else if (!this.tagPrefs[i].pref) {
            //add to excluded array
            excludedTags.push(this.tagPrefs[i].name);
          }
        }
        //make array to store included sources
        let includedSources = [];
        for (let i = 0; i < this.sourcePrefs.length; i++) {
          //check if its set to be included
          if (this.sourcePrefs[i].pref) {
            //add to included array
            includedSources.push(this.sourcePrefs[i].name);
          }
        }
        //loop reads through each card
        for (let i = 0; i < this.fullDeck.length; i++) {
          let card = this.fullDeck[i];
          //check that the current card fulfills all specifications
          if (
            includedSources.includes(card.source) &&
            this.minQuality <= card.quality &&
            this.maxQuality >= card.quality &&
            this.minIntimacy <= card.intimacy &&
            this.maxIntimacy >= card.intimacy &&
            (!this.multiPlayer || card.multiPlayer) &&
            this.overlap(includedTags, card.tags) &&
            !this.overlap(excludedTags, card.tags)
          ) {
            //if card fits, add it to the deck
            this.filteredDeck.push(card);
          }
        }
        //cards are correct; now shuffle
        if (this.shuffle) {
          this.shuffleDeck();
        }
      },
      shuffleDeck() {
        let currentIndex = this.filteredDeck.length,
          randomIndex;
        // While there remain elements to shuffle.
        while (currentIndex != 0) {
          // Pick a remaining element.
          randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex--;
          // And swap it with the current element.
          [this.filteredDeck[currentIndex], this.filteredDeck[randomIndex]] = [
            this.filteredDeck[randomIndex],
            this.filteredDeck[currentIndex],
          ];
        }
      },
      fwd() {
        //increment the index or go back to 0 if we're at the end of the deck
        if (this.index < this.filteredDeck.length - 1) {
          this.index++;
        } else {
          this.index = 0;
        }
      },
      back() {
        if (this.index === 0) {
          this.index = this.filteredDeck.length - 1;
        } else {
          this.index--;
        }
      },
      overlap(array1, array2) {
        //for each element in the first array
        for (let i = 0; i < array1.length; i++) {
          //if that element is contained in the second array
          if (array2.includes(array1[i])) {
            //the arrays overlap
            return true;
          }
        }
        //otherwise, they don't
        return false;
      },
      reset() {
        for (let i = 0; i < this.sourcePrefs.length; i++) {
          this.sourcePrefs[i].pref = true;
        }
        for (let i = 0; i < this.tagPrefs.length; i++) {
          this.tagPrefs[i].pref = 1;
        }
        this.minQuality = 1;
        this.maxQuality = 5;
        this.minIntimacy = 1;
        this.maxIntimacy = 5;
        this.multiPlayer = true;
        this.shuffle = true;
        this.index = -1;
      },
      startAskhole() {
        for (let i = 0; i < this.sourcePrefs.length; i++) {
          this.sourcePrefs[i].pref = this.sourcePrefs[i].name === "askhole";
        }
        for (let i = 0; i < this.tagPrefs.length; i++) {
          this.tagPrefs[i].pref = 1;
        }
        this.minQuality = 1;
        this.maxQuality = 5;
        this.minIntimacy = 1;
        this.maxIntimacy = 5;
        this.start();
      },
      start36Questions() {
        for (let i = 0; i < this.sourcePrefs.length; i++) {
          this.sourcePrefs[i].pref =
            this.sourcePrefs[i].name === "36 questions to fall in love";
        }
        for (let i = 0; i < this.tagPrefs.length; i++) {
          this.tagPrefs[i].pref = 1;
        }
        this.minQuality = 1;
        this.maxQuality = 5;
        this.minIntimacy = 1;
        this.maxIntimacy = 5;
        this.shuffle = false;
        this.multiPlayer = false;
        this.start();
      },
      startRachelFavs() {
        for (let i = 0; i < this.sourcePrefs.length; i++) {
          this.sourcePrefs[i].pref = 1;
        }
        for (let i = 0; i < this.tagPrefs.length; i++) {
          this.tagPrefs[i].pref = 1;
        }
        this.minQuality = 4;
        this.maxQuality = 5;
        this.minIntimacy = 1;
        this.maxIntimacy = 5;
        this.start();
      },
    },
  }).mount("#app");
</script>
<script type="module" src="code.js"></script>
