<!DOCTYPE html>

<script
  async
  src="https://ga.jspm.io/npm:es-module-shims@1.6.2/dist/es-module-shims.js"
></script>

<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

<head>
  <link rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Fondamento&display=swap"
    rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div id="app">
    <div id="header">
      <h1 id="title">Inquisition</h1>
      <h6 id="author">by Rachel</h6>
      <button id="settingsBtn" @click="mode='settings'"></button>
      <button id="infoBtn" @click="mode='info'"></button>
    </div>
    <div class="background-shade" v-show="mode === 'info'">
      <div class="pop-up" id="info">
        <button class="x-button" @click="mode = 'play'"></button>
        <strong>Inquisition</strong> is a compilation of bonding questions from
        online sources and friends. It includes innocent ice breakers, deep
        personal inquiries, cornering controversial questions, and more. You can
        select a curated deck or build your own by tapping on the settings icon.
        <hr />
        <h3>Where do these questions come from?</h3>
        <ul>
          <li>
            <a href="https://www.askhole.io/"><strong>askhole</strong></a> is a
            deck of questions by rationalist/twitter influencer/sex worker
            Aella, and the original inspiration of this website.
          </li>
          <li>
            <strong>austin</strong> is my boyfriend who has a note in his phone
            of questions he's too afraid to ask people.
          </li>
          <li>
            <a
              href="https://www.nytimes.com/2015/01/09/style/no-37-big-wedding-or-small.html"
              ><strong>36 questions to fall in love</strong></a
            >
            is a list of 36 questions, originally made popular through the New
            York Times, which supposedly can make strangers fall in love.
          </li>
          <li>
            <strong>alexandra</strong> is a friend of mine who has her own list
            of 50 bonding questions.
          </li>
          <br />
          I'm always happy to add more questions, so email me at
          rachel.weinberg12@gmail.com if you have your own list of interesting
          questions!
        </ul>
        <hr />
        <h3>How are they scored and categorized?</h3>
        Just my opinions. I tend to like questions that are clear (rather than
        leading to discussions about what the questions is even asking),
        specific (so that people don't spend a long time searching for the ideal
        answer), and of course controversial/introspective/deep or something.
        <br />
        <br />I labelled them really fast so if you have any complaints about my
        scores and categorizations please let me know, you're likely correct.
        Also let me know if there's a category or setting that's missing that
        you think would be useful.
      </div>
    </div>
    <div class="background-shade" v-show="mode === 'settings'">
      <div class="pop-up" id="settings">
        <button class="x-button" @click="mode = 'play'"></button>
        <!-- Show start page -->
        <div id="presets">
          <!--presets-->
          <button class="preset" @click="askhole">Regular Askhole</button>
          <button class="preset" @click="thirtySixQuestions">
            36 Questions to Fall In Love
          </button>
          <button class="preset" @click="rachelFavs">Rachel's Favorites</button>
        </div>
        <hr />
        <div id="key">
          <div class="key-item">
            <p class="key-color" id="include-color"></p>
            <p>include&nbsp&nbsp&nbsp&nbsp</p>
          </div>
          <div
            class="key-item"
            title="some cards have multiple tags. If a card has only ignored (or excluded) tags, it won't be added to your deck. If it has ignored and included tags, it will be added."
          >
            <p class="key-color" id="ignore-color"></p>
            <p>ignore&nbsp&nbsp&nbsp&nbsp</p>
          </div>
          <div class="key-item">
            <p class="key-color" id="exclude-color"></p>
            <p>exclude</p>
          </div>
        </div>
        <!-- Sources input -->
        <p>
          Which <strong>sources</strong> would you like to include in your deck?
        </p>

        <source-item
          v-for="item in sourcePrefs"
          :source="item"
          :key="item.name"
        ></source-item>

        <br />
        <!--quality input-->
        <p>What range of <strong>quality</strong> would you like to include?</p>
        <span>
          <input type="number" max="5" min="1" v-model="minQuality" />
          -
          <input type="number" max="5" min="1" v-model="maxQuality" />
        </span>
        <!-- intimacy input -->
        <p>
          What range of <strong>intimacy</strong> would you like to include?
        </p>
        <span>
          <input type="number" max="5" min="1" v-model="minIntimacy" />
          -
          <input type="number" max="5" min="1" v-model="maxIntimacy" />
        </span>
        <!-- tags to include input -->
        <p>
          What <strong>categories</strong> of questions would you like to
          include?
        </p>
        <tag-item
          v-for="item in tagPrefs"
          :tag="item"
          :key="item.name"
        ></tag-item>
        <!--shuffle & two player check boxes-->
        <div id="checkboxes">
          <label class="container">
            <input type="checkbox" id="shuffle" v-model="shuffle" />
            <span class="checkmark"></span>shuffle deck
          </label>
          <label class="container">
            <input type="checkbox" id="two-player" v-model="twoPlayer" />
            <span class="checkmark"></span>include 2-player only cards
          </label>
        </div>
        <!--reset & start buttons-->
        <button class="form-button" @click="reset">Clear Form</button>
        <button class="form-button" @click="start">Get Started!</button>
      </div>
    </div>
    <div v-if="mode === 'play' && deckFilled" id="card-display">
      <input @keyup.arrow-left="prevCard" />
      <input @keyup.arrow-right="nextCard" />
      <!--card display-->
      <button class="card" @click="nextCard">
        {{ filteredDeck[index].question }}
        <div id="feature-display">
          <p class="feature">source: {{ filteredDeck[index].source }}</p>
          <p class="feature">intimacy: {{ filteredDeck[index].intimacy }}</p>
          <p class="feature">quality: {{ filteredDeck[index].quality }}</p>
          <p class="feature">
            tags:
            <span v-for="(item, index) in filteredDeck[index].tags">
              <span v-if="index != 0">&nbsp&</span>
              {{item}}</span
            >
          </p>
        </div>
      </button>
      <div id="arrow-buttons">
        <button
          class="arrow-button"
          id="previous-question"
          @click="prevCard"
        ></button>
        <button
          class="arrow-button"
          id="next-question"
          @click="nextCard"
        ></button>
      </div>
    </div>
  </div>
</body>

<script type="module">
  import { createApp } from "vue";
  import { loadDeckAndPrefs } from "./code.js";
  import TagItem from "./TagItem.js";
  import SourceItem from "./SourceItem.js";

  createApp({
    components: {
      TagItem,
      SourceItem,
    },
    data() {
      return {
        filteredDeck: [],
        mode: "play",
        deckFilled: false,
        index: 0,
        minQuality: 4,
        maxQuality: 5,
        minIntimacy: 1,
        maxIntimacy: 5,
        tagPrefs: [],
        sourcePrefs: [],
        fullDeck: [],
        shuffle: true,
        twoPlayer: false,
      };
    },
    async created() {
      const response = await fetch("questions.csv");
      const deckStr = await response.text();
      [this.fullDeck, this.tagPrefs, this.sourcePrefs] =
        loadDeckAndPrefs(deckStr);
      this.configureDeck();
      this.deckFilled = true;
      window.addEventListener("keydown", (e) => {
        if (e.key === "ArrowRight") {
          this.nextCard();
        }
        if (e.key === "ArrowLeft") {
          this.prevCard();
        }
      });
    },
    methods: {
      start() {
        this.index = -1;
        //try building deck based on user preferences
        this.configureDeck();
        //check that the deck actually has cards in it
        if (this.filteredDeck.length === 0) {
          //if deck is empty, tell user to try again
          alert(
            "There are no cards that fulfill your specifications. Try again with new filters."
          );
          return;
        } else {
          //if it does, game begins
          this.nextCard();
        }
        this.mode = "play";
      },
      configureDeck() {
        //make arrays to store included and excluded tags
        let excludedTags = [],
          includedTags = [];
        this.filteredDeck = [];
        //for each tag
        for (let i = 0; i < this.tagPrefs.length; i++) {
          //check if its set to be included
          if (this.tagPrefs[i].pref === 1) {
            //add to included array
            includedTags.push(this.tagPrefs[i].name);
            //check if its set to be excluded
          } else if (!this.tagPrefs[i].pref) {
            //add to excluded array
            excludedTags.push(this.tagPrefs[i].name);
          }
        }
        //make array to store included sources
        let includedSources = [];
        for (let i = 0; i < this.sourcePrefs.length; i++) {
          //check if its set to be included
          if (this.sourcePrefs[i].pref) {
            //add to included array
            includedSources.push(this.sourcePrefs[i].name);
          }
        }
        //loop reads through each card
        for (let i = 0; i < this.fullDeck.length; i++) {
          let card = this.fullDeck[i];
          //check that the current card fulfills all specifications
          if (
            includedSources.includes(card.source) &&
            this.minQuality <= card.quality &&
            this.maxQuality >= card.quality &&
            this.minIntimacy <= card.intimacy &&
            this.maxIntimacy >= card.intimacy &&
            (this.twoPlayer || !card.twoPlayer) &&
            this.overlap(includedTags, card.tags) &&
            !this.overlap(excludedTags, card.tags)
          ) {
            //if card fits, add it to the deck
            this.filteredDeck.push(card);
          }
        }
        //cards are correct; now shuffle
        if (this.shuffle) {
          this.shuffleDeck();
        }
      },
      shuffleDeck() {
        let currentIndex = this.filteredDeck.length,
          randomIndex;
        // While there remain elements to shuffle.
        while (currentIndex != 0) {
          // Pick a remaining element.
          randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex--;
          // And swap it with the current element.
          [this.filteredDeck[currentIndex], this.filteredDeck[randomIndex]] = [
            this.filteredDeck[randomIndex],
            this.filteredDeck[currentIndex],
          ];
        }
      },
      nextCard() {
        //increment the index or go back to 0 if we're at the end of the deck
        if (this.index < this.filteredDeck.length - 1) {
          this.index++;
        } else {
          this.index = 0;
        }
      },
      prevCard() {
        if (this.index === 0) {
          this.index = this.filteredDeck.length - 1;
        } else {
          this.index--;
        }
      },
      overlap(array1, array2) {
        //for each element in the first array
        for (let i = 0; i < array1.length; i++) {
          //if that element is contained in the second array
          if (array2.includes(array1[i])) {
            //the arrays overlap
            return true;
          }
        }
        //otherwise, they don't
        return false;
      },
      reset() {
        for (let i = 0; i < this.sourcePrefs.length; i++) {
          this.sourcePrefs[i].pref = true;
        }
        for (let i = 0; i < this.tagPrefs.length; i++) {
          this.tagPrefs[i].pref = 1;
        }
        this.minQuality = 1;
        this.maxQuality = 5;
        this.minIntimacy = 1;
        this.maxIntimacy = 5;
        this.twpPlayer = false;
        this.shuffle = true;
        this.index = -1;
      },
      askhole() {
        for (let i = 0; i < this.sourcePrefs.length; i++) {
          this.sourcePrefs[i].pref = this.sourcePrefs[i].name === "askhole";
        }
        for (let i = 0; i < this.tagPrefs.length; i++) {
          this.tagPrefs[i].pref = 1;
        }
        this.minQuality = 1;
        this.maxQuality = 5;
        this.minIntimacy = 1;
        this.maxIntimacy = 5;
        this.shuffle = true;
        this.twoPlayer = false;
      },
      thirtySixQuestions() {
        for (let i = 0; i < this.sourcePrefs.length; i++) {
          this.sourcePrefs[i].pref =
            this.sourcePrefs[i].name === "36 questions to fall in love";
        }
        for (let i = 0; i < this.tagPrefs.length; i++) {
          this.tagPrefs[i].pref = 1;
        }
        this.minQuality = 1;
        this.maxQuality = 5;
        this.minIntimacy = 1;
        this.maxIntimacy = 5;
        this.shuffle = false;
        this.twoPlayer = true;
      },
      rachelFavs() {
        for (let i = 0; i < this.sourcePrefs.length; i++) {
          this.sourcePrefs[i].pref = 1;
        }
        for (let i = 0; i < this.tagPrefs.length; i++) {
          this.tagPrefs[i].pref = 1;
        }
        this.minQuality = 4;
        this.maxQuality = 5;
        this.minIntimacy = 1;
        this.maxIntimacy = 5;
        this.shuffle = true;
        this.twoPlayer = false;
      },
    },
  }).mount("#app");
</script>
<script type="module" src="code.js"></script>
