/* GENERAL RULES */
html,
body {
  margin: 0;
  --font: "Caudex", serif;
  --fancy-font: "Fondamento", cursive;
  --light-blue: #94c4f0;
  --light-yellow: #ffe599;
  --dark-yellow: #ffc823;
  font-size: medium;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: 500) {
    font-size: small;
  }
}

#app {
  min-height: 100vh;
}

body {
  font-family: var(--font);
  font-weight: 100;
  text-align: center;
}

button {
  cursor: pointer;
  font-family: var(--font);
  color: black;
  font-size: medium;
  box-shadow: 1px 1px 3px black;
}

input[type="number"] {
  height: 1.5em;
  width: 1.8em;
  font-size: medium;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font);
}

hr {
  display: block;
  border: 1px inset;
  width: 80%;
  height: 0.2px;
  background-color: black;
  border-color: black;
  margin: 1.5em auto;
}

a {
  color: rgb(3, 83, 196);
}

/* HEADER */
#header {
  color: black;
  background: var(--dark-yellow);
  box-shadow: 1px 1px 3px black;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#title {
  padding: 0 1em;
  font-family: var(--fancy-font);
  font-size: xxx-large;
  background: transparent;
  border: none;
  box-shadow: none;
  @media (max-width: 500px) {
    font-size: xxxx-large;
  }
}

#author {
  position: absolute;
  top: 3.8em;
  left: 30em;
  font-style: italic;
  @media (max-width: 500px) {
    top: 0.7em;
    left: 5em;
  }
}

.iconBtn {
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: black;
  position: absolute;
  @media (max-width: 500) {
    width: 50px;
    height: 50px;
  }
}

#settingsBtn {
  background-image: url("gear_icon.png");
  top: 2.7em;
  right: 2em;
  @media (max-width: 500) {
    top: 0.5em;
    right: 2em;
  }
}

#infoBtn {
  background-image: url("info_icon.png");
  background-size: 105%;
  top: 2.7em;
  right: 6em;
  background-color: white;
  @media (max-width: 500) {
    top: 0.5em;
    right: 6em;
  }
}

/* NON-PLAY DISPLAY*/
.background-shade {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.416);
  z-index: 2;
  @media (max-width: 500px) {
    position: relative;
  }
}

.xBtn {
  background-image: url("x_button.png");
  background-size: 140%;
  background-color: white;
  top: 15px;
  right: 15px;
}

/*NON-PlAY BOXES*/
.pop-up {
  background-color: var(--light-blue);
  border: 3px solid black;
  margin: 0.5em auto;
  width: 70vw;
  box-sizing: content-box;
  position: relative;
  z-index: 3;
  @media (max-width: 500px) {
    margin: 0;
    width: 100vw;
    height: 100vw;
    position: absolute;
  }
}

/*INFO BOX*/

#info {
  padding: 4em 3em;
  @media (max-width: 500px) {
    padding: 0.5em 1em;
  }
}

/* SETTINGS*/
#settings {
  padding: 1em 3em;
  @media (max-width: 500px) {
    padding: 0.5em 1em;
  }
}

.formBtn {
  background: white;
  padding: 8px 30px;
  transition: background 0.5s;
  border: 2px solid black;
  border-radius: 20px;
  margin: 0.5em 10%;
}

/*Preset buttons*/
#presets {
  display: flex;
  justify-content: center;
  background-color: var(--light-blue);
  padding: 1em;
}

.preset {
  border: 2px solid black;
  background-color: var(--dark-yellow);
  margin: 0em 2em;
  width: 10em;
  height: 7em;
  border-radius: 10px;
}

/*key on the top of the form*/
#key {
  display: flex;
  justify-content: center;
  margin: 0;
}

.key-item {
  display: flex;
}

.key-color {
  height: 20px;
  width: 20px;
  border-radius: 8px;
  margin: 1em;

  box-shadow: 1px 1px 2px black;
}

#include-color {
  background-color: var(--dark-yellow);
}

#ignore-color {
  background-color: var(--light-yellow);
}

#exclude-color {
  background-color: gray;
}

/*tags/sources options display on settings form*/
.option {
  background: var(--light-yellow);
  padding: 3px 12px;
  text-decoration: none;
  transition: background 0.5s;
  border: 2px solid var(--light-yellow);
  border-radius: 20px;
  margin: 3px 3px 3px;
}

.include {
  background: var(--dark-yellow);
  border: 2px solid var(--dark-yellow);
}

.exclude {
  background: gray;
  border: 2px solid gray;
}

/*checkbox display*/

#checkboxes {
  display: flex;
  justify-content: center;
  margin: 2em;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0 1.5em;
  cursor: pointer;
  font-size: large;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 20px;
  width: 20px;
  background-color: white;
  box-shadow: 1px 1px 3px black;
  border-radius: 8px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgb(217, 217, 217);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--dark-yellow);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*** CARD PAGE DISPLAY ***/

#card-display {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.card {
  border: 3px solid black;
  background-color: var(--light-blue);
  font-size: xx-large;
  padding: 1em;
  margin: 7em auto 0em;
  width: 17em;
  height: 13em;
  border-radius: 10px;
  display: grid;
  place-items: center;
  position: relative;
  font-family: var(--font);
}

#feature-display {
  display: flex;
  font-size: small;
  position: absolute;
  bottom: 1%;
  margin: auto;
  padding: 0.5em;
}

.feature {
  margin: 0.5em;
}

/*flip card buttons*/
#arrow-buttons {
  display: flex;
  justify-content: center;
}

.arrow-button {
  background: transparent;
  box-shadow: none;
  transition: background 0.5s;
  border: none;
  border-radius: 40px;
  margin: 2em 5em;
  background-image: url("arrow2.png");
  background-position: 50% 50%;
  background-size: 90%;
  background-repeat: no-repeat;
  width: 10em;
  height: 4em;
}

#previous-question {
  transform: rotate(180deg);
}
