html,
body {
  margin: 0;
  padding: 2em;
  --font: "FreeMono", monospace;
  --darkpurple: #4f0b76;
  --lightpurple: #8b2d74;
  --red: #c74956;
  --orange: ;
}

body {
  font-family: var(--font);
  font-weight: 100;
  text-align: center;
}

.btn {
  color: black;
  background: white;
  padding: 8px 30px;
  font-family: var(--font);
  text-decoration: none;
  transition: background 0.5s;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px 50px 20px 50px;
}

.preset {
  border: 2px solid black;
  background-color: #9fc5e8;
  margin: 2em 2em 2em 2em;
  cursor: pointer;
  font-family: var(--font);
  width: 10em;
  height: 10em;
}

#presets {
  display: flex;
  justify-content: center;
  padding: 2em 2em 2em 2em;
}

input[type="checkbox"] {
  height: 12px;
  width: 12px;
  background-color: white;
  border: 3px solid black;
  cursor: pointer;
}

input[type="number"] {
  height: 20px;
  width: 40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font);
}

#settings {
  display: flex;
  flex-direction: column;
  background-image: url("screenshot.png");
}

#form {
  border: 2px solid black;
  background-color: #9fc5e8;
  padding: 1em 2em 2em 2em;
  margin: 2em 2em 2em 2em;
}

.card {
  border: 2px solid black;
  background-color: #9fc5e8;
  padding: 2em 2em 2em 2em;
  margin: auto;
  width: 20em;
  height: 15em;
  box-shadow: 2px 2px 5px black;
  display: grid;
  place-items: center;
  box-sizing: content-box;
}

.option {
  color: black;
  background: #ffe599;
  padding: 3px 12px;
  font-family: var(--font);
  text-decoration: none;
  transition: background 0.5s;
  border: 2px solid #ffe599;
  border-radius: 20px;
  cursor: pointer;
  margin: 3px 3px 3px;
  box-shadow: 1px 1px 3px black;
}

.include {
  background: #ffc823;
  border: 2px solid #ffc823;
}

.exclude {
  background: gray;
  border: 2px solid gray;
}

.flip {
  color: black;
  background: #9fc5e8;
  padding: 5px 5px;
  font-family: var(--font);
  font-size: 16px;
  text-decoration: none;
  transition: background 0.5s;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 2em 2em 2em 2em;
}
