<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

<body>
  <div id="app">
    <div v-if="index === -1">
      <!-- Show start page -->
      To get started, fill in your play preferences in the form below.
      <!-- Insert form here -->
      <form>
        <p>Which sources do you want to pull from to create your deck?</p>
        <input
          type="checkbox"
          id="source1"
          name="source1"
          value="askhole"
          v-model="sources"
        />
        <label for="source1">Askhole</label><br />
        <input
          type="checkbox"
          id="source2"
          name="source2"
          value="austin"
          v-model="sources"
        />
        <label for="source2">Austin</label><br />
        <input
          type="checkbox"
          id="source3"
          name="source3"
          value="alexandra"
          v-model="sources"
        />
        <label for="source3">Alexandra</label>
        <input type="submit" value="Submit" @click="start" />
      </form>
      <button @click="start">Get Started!</button>
    </div>
    <div v-else>
      Playing game
      <div>{{ filteredDeck[index].question }}</div>
      <button @click="flip">Next Question</button>
      <!-- <li v-for="card in filteredDeck">{{ card.Question }}</li> -->
    </div>
  </div>
</body>

<script type="module">
  import { createApp } from "vue";
  import { deck } from "./code.js";

  createApp({
    data() {
      return {
        filteredDeck: [],
        mode: "start",
        index: -1,
        sources: [], //need to use this data to make filteredDeck
      };
    },
    methods: {
      start() {
        this.filteredDeck = deck;
        this.flip();
      },
      flip() {
        if (this.index < deck.length - 1) {
          this.index++;
        } else {
          this.index = 0;
        }
        console.log("flipping", this.index);
      },
    },
  }).mount("#app");
</script>
<script type="module" src="code.js"></script>
